@import "tailwindcss";

html {
  background-color: #202325;
  overflow: hidden;
  padding-top: env(safe-area-inset-top, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
  padding-left: env(safe-area-inset-left, 0);
  padding-right: env(safe-area-inset-right, 0);
  height: 100dvh;
}

body {
  background-color: #36393b;
  overflow: auto;
  height: 100%;
}

#svelte {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@theme {
  --color-primary: #202325;
  --color-primary-10l: #36393b;
  --color-primary-20l: #4d4f51;
  --color-primary-30l: #636566;
  --color-secondary: #9a9d92;
  --color-tertiary-20l: #e1d4c1;
  --color-tertiary-10l: #ddceba;
  --color-tertiary: #d9c9b2;
  --color-tertiary-10d: #c3b5a0;
  --color-tertiary-20d: #aea18e;
  --color-tertiary-30d: #988d7d;

  --color-warning: #e1b874;
  --color-warning-10d: #cba668;
  --color-warning-20d: #b4935d;
  --color-error: #d15c5c;
  --color-error-10d: #bc5353;
  --color-error-20d: #a74a4a;

  --color-active: #90642c;
  --color-active-10d: #825a28;
  --color-active-20d: #735023;
  --color-active-30d: #65461f;
}
